.dataset-item {
  &:not(.module-content) {
  background-color:#f8f8fb;
  }
  
    padding: 20px;
    margin-bottom: 20px;
    position:relative;
    
}


@include media-breakpoint-down(sm){
    .dataset-item {
        word-wrap: break-word;
    }
}

.dataset-item:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}


.dataset-content {
 
}

.dataset-heading {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.3;
}

.dataset-heading a {
}

.dataset-heading .badge {
    position: relative;
    top: -1px;
}

.badge-inverse {
    background-color: $gray-600;
}

.dataset-private {
    margin-right: 10px;
    text-transform: uppercase;
    .icon-lock {
        width: 9px;
    }
    &.pull-right {
        margin-right: 0;
    }
      color:white;
}
.dataset-resources-wrapper {
  padding-top:20px;
  position:relative;
  &:before {
      display:block;
      content:"";
      position:absolute;
      height:1px;
      width:100%;
      top:0;
      left:0;
      border-bottom: 1px solid #e5e5e5;
  }
  
}
.dataset-resources__top{
  margin-bottom:.5rem;
  display:flex;
  align-items:center;
}

.dataset-resources__bottom{
  list-style: none;
  padding:0 ;
  display:flex;
  align-items:center;
  li {
    margin-right:.5rem;
  }
}
.dataset-resources {
    margin-top: 8px;
}

.dataset-resources li {
    display: inline;
}

.dataset-resources li a {
}

// Resource List
.resource-list {
    @include list-unstyled;
    padding-left: 0;
    margin: -10px -10px 10px -10px;
}

.resource-item {
    position: relative;
    padding: 10px 10px 10px 60px;
    margin-bottom: 0px;
    @include border-radius(3px);
    &:hover {
        background-color: $layoutBackgroundColor;
    }
}

.resource-item .heading {
    color: $layoutBoldColor;
    font-size: 14px;
    font-weight: bold;
}

.resource-item .format-label {
    position: absolute;
    top: 10px;
    left: 10px;
}

.resource-item .description {
    font-size: 12px;
    margin-bottom: 0;
    min-height: 12px;
}

.resource-item .btn-group {
    position: absolute;
    top: 10px;
    right: 10px;
}

@include media-breakpoint-down(sm) {
    .resource-item .btn-group {
        display: none;
    }
}

.resource-list.reordering {
    .resource-item {
        border: 1px solid $moduleHeadingBorderColor;
        margin-bottom: 10px;
        cursor: move;
        .handle {
            display: block;
            position: absolute;
            color: $moduleHeadingActionTextColor;
            left: -31px;
            top: 50%;
            margin-top: -15px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border: 1px solid $moduleHeadingBorderColor;
            border-width: 1px 0 1px 1px;
            background-color: $moduleBackgroundColor;
            @include border-radius(20px 0 0 20px);
            &:hover {
                text-decoration: none;
            }
        }
        &:hover .handle {
            background-color: $layoutBackgroundColor;
        }
        &.ui-sortable-helper {
            background-color: $layoutBackgroundColor;
            border: 1px solid $layoutLinkColor;
            .handle {
                background-color: $layoutBackgroundColor;
                border-color: $layoutLinkColor;
                color: $navLinkColor;
            }
        }
    }
}

.resource-item .handle {
    display: none;
}

// Dataset Forms
// Tag List
.tag-list {
    padding: 10px 10px 5px 10px;
    background-color: $gray-100;
    border: 1px solid $genericBorderColor;
    border-radius: 0.25rem;
}

.tag-list li {
    display: inline-block;
}

.tag-list li:last-child {
    margin-right: 0;
}

// Additional Info
.additional-info td,
.additional-info th {
}

// FORMATS
.badge {
  font-family:$headings-font-family;
  transition:color .2s background .2s;
  background:transparent;
    border: 1px solid var(--badge-color);
    --badge-color:#11131E;
    color: var(--badge-color);
}
.badge[data-format=html],
.badge[data-format*=html] {
  --badge-color: #2761C5;
  
 
}

.badge[data-format=json],
.badge[data-format*=json] {
  --badge-color: #BE2D2C;
}

.badge[data-format=xml],
.badge[data-format*=xml] {
  --badge-color: #35644A;
}

.badge[data-format=text],
.badge[data-format*=text] {
  --badge-color:#1A7EA3;
}

.badge[data-format=csv],
.badge[data-format*=csv] {
  --badge-color:#856A00;
}

.badge[data-format=xls],
.badge[data-format*=xls] {
  --badge-color:#3D7621;
}

.badge[data-format=zip],
.badge[data-format*=zip] {
  --badge-color:#121827;
}

.badge[data-format=api],
.badge[data-format*=api] {
  --badge-color:#C34524;
}

.badge[data-format=pdf],
.badge[data-format*=pdf] {
  --badge-color:#BE2D2C;
}

.badge[data-format=rdf],
.badge[data-format*=rdf],
.badge[data-format*=nquad],
.badge[data-format*=ntriples],
.badge[data-format*=turtle] {
  --badge-color:#364052;
}

.badge-default[href]:hover,
.badge-default[href]:focus {
    color: $white;
    text-decoration: none;
}

// Views
.view-list {
    @include list-unstyled;
    li {
        position: relative;
        margin-bottom: 10px;
        a {
            display: block;
            min-height: 50px;
            padding: 10px;
            border: 1px solid $moduleHeadingBorderColor;
            overflow: hidden;
            @include border-radius(3px);
            .icon {
                float: left;
                width: 50px;
                height: 50px;
                overflow: hidden;
                margin-right: 10px;
                color: $layoutTextColor;
                background-color: $layoutBackgroundColor;
                @include border-radius(3px);
                i {
                    display: block;
                    text-align: center;
                    font-size: 28px;
                    line-height: 50px;
                }
            }
            h3 {
                font-weight: bold;
                color: $layoutBoldColor;
                font-weight: bold;
                font-size: 16px;
                margin: 0 0 3px 0;
            }
            p {
                margin: 0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                color: $layoutTextColor;
            }
            &.active,
            &:hover {
                text-decoration: none;
                border-color: $layoutLinkColor;
                .icon {
                    background-color: $layoutLinkColor;
                    color: $navActiveBackgroundColor;
                }
            }
        }
        .arrow {
            position: absolute;
            display: none;
            border: 8px solid transparent;
            border-top-color: $layoutLinkColor;
            left: 50%;
            bottom: -15px;
            margin-left: -4px;
        }
        &.active {
            a {
                text-decoration: none;
                border-color: $layoutLinkColor;
                .icon {
                    background-color: $layoutLinkColor;
                    color: $navActiveBackgroundColor;
                }
            }
            .arrow {
                display: block;
            }
        }
    }
    &.stacked {
        overflow-y: hidden;
        overflow-x: auto;
        height: 100px;
        white-space: nowrap;
        li {
            display: inline-block;
            width: 250px;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
        &::-webkit-scrollbar {
            width: 7px;
            height: 7px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: $navActiveBackgroundColor;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: darken($navActiveBackgroundColor, 20%);
            &:hover {
                background-color: $layoutLinkColor;
            }
        }
    }
}

.resource-view {
    margin-top: 20px;
}

#activity-archive-notice {
  clear: both;
}

/* diff styles */
table.diff {
  font-family:Courier;
  border:medium;
}
.diff_header {
  background-color:#e0e0e0;
}
td.diff_header {
  text-align:right;
}
.diff_next {
  background-color:#c0c0c0;
}
.diff_add {
  background-color:#aaffaa;
}
.diff_chg {
  background-color:#ffff77;
}
.diff_sub {
  background-color:#ffaaaa;
}
// TRASH VIEW accordion
// --------------------------------------------------

  .purge-all {
    float: right;
    margin-bottom: 15px;
  }
