{% ckan_extends %}

{% block footer_content %}

<div class="row mt-4">
  <div class="col-12 text-center">
    <div class="d-flex justify-content-center align-items-center flex-wrap gap-3">
	    <a href="https://www.idigbio.org/" target="_blank">
							<img src="/logos_bw/idigbio_logo_bw.svg" alt="IdigBio Logo" style="width: 170px; filter:grayscale(100%) brightness(200);">
						</a>
						<a href="https://digitizationacademy.org/" target="_blank">
							<img src="/logos_bw/digitization_academy_logo_bw.svg" alt="Digitization Academy logo" style="width: 170px; filter:grayscale(100%) brightness(200);">
						</a>
						<a href="https://www.fsu.edu/" target="_blank">
							<img src="/logos_bw/fsu_logo_bw.svg" alt="FSU logo" style="width: 170px; filter:grayscale(99%);">
						</a>
						<a href="https://idiginfo.org/" target="_blank">
							<img src="/logos_bw/idiginfo_logo_bw.png" alt="iDigInfo logo" class="img-fluid" style="max-height: 50px; max-width: auto; filter:grayscale(100%) brightness(200);">
						</a>
    </div>
  </div>
</div>  

<div class="row mt-4">
  <div class="col-12">
  </div>
  <div class="d-flex justify-content-end attribution">
    {% block footer_attribution %}
      {{ super() }}
    {% endblock %}
  </div>
</div>

{%endblock%}

{% block footer_lang%}{% endblock %}
